{% extends "base.html" %}
{% block title %}homePage{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/customerHome.css">
{% endblock %}
<body>
	{% block header %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	      	{%if userName%}
	        <a class="nav-link" href="#">{{userName}} </span></a>
	        {%else%}
	        <a class="nav-link" href="#">您好请登录 </a>
			{%endif%}
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">注册</a>
	      </li>


	    </ul>

	  </div>
	</nav>
	{{super()}}
	{% endblock %}
{% block content %}
<div class="my-container switch-panel">
	<div class="my-container href-container"><a href="
http://127.0.0.1:5000/eFlight/home/customer">Home</a></div>
	<div class="my-container href-container">
		<a href="http://127.0.0.1:5000/eFlight/publicInfo">Flight Info</a>
	</div>

</div>
<div class="holder" id="search-form-holder">
	<div id="search-area-container">
		<div id="search-area-title"><h3>Search</h3></div>
		<div id="search-form-container">
			<div class="search-form-sub-part">
				<div class="input-container">
					<p>出发城市<input type="text" id="departure-city"></p>
				</div>
				<div class="input-container">
					<p>到达城市<input type="text" id="arrival-time"></p>
				</div>
			</div>
			<div class="search-form-sub-part" id='search-left-sub'>
				<div class="input-container">
					<p>出发时间<input type="text" id="departure-time"></p>
				</div>
				<div class="input-container" id='search-btn-container'>
					<button id='search'>搜索机票</button>
				</div>
			</div>
		</div>
	</div>

</div>
 <div class="holder" id="info-area-holder">
 	<div class = "info-area-sub-holder" id="recommend-area-holder">
 		<div class="info-title"><h3>popular destination</h3></div>
	 	<div class="recommend-row-holder">
	 		<div class="recommend">place 1</div>
	 		<div class="recommend">place 2</div>
	 		<div class="recommend">place 3</div>
	 		<div class="recommend">place 4</div>

	 	</div>
	 	<div class="recommend-row-holder">
	 		<div class="recommend">place 5</div>
	 		<div class="recommend">place 6</div>
	 		<div class="recommend">place 7</div>
	 		<div class="recommend">place 8</div>

	 	</div> 	 	
	 </div>

	 <div class = "info-area-sub-holder" id="recent-schedule-holder">
 		<div class="info-title"><h3>your trip</h3></div>
 		<div id="trip-record-container">
 			 <div class="record-card">
 			 	<div class="record-row-wrapper">
	 			 	<div class="record-text-holder"><h3>出发地</h3></div>
	 			 	<div class="record-text-holder"><h3>目的地</h3></div>
 			 	</div>
 			 	<div class="record-row-wrapper">
	 			 	<div class="record-text-holder"><p>起飞时间</p></div>
	 			 	<div class="record-text-holder"><p>航班</p></div>
 			 	
 			 	</div>
 			 	<div class="flight-state"><h3>状态</h3></div>

 			 </div>
 		</div>
	 </div>

 </div>


<!-- jQuery and JS bundle w/ Popper.js -->
<script type="text/javascript" src="/static/js/customerHome.js"></script>
<script type="text/javascript">	

	function onChange(date, dateString){
	console.log(date,dateString);
};
	$('#departure-time').datepicker();
	$('#search').button();

</script>
	

{% endblock %}


</body>
</html>