{% extends "base.html" %}
{% block title %}homePage{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/view.css">
{% endblock %}

{% block header %}
<form style="display: none;">
	<input type="text" id= "viewType" value = {{ pageType }}>
	<input type="text" id="userType" value ={{ userType }}>
</form>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	    	{%if username%}
	      	<li class="nav-item">
	      	
	        <a class="nav-link" href="#">{{username}} </span></a>
		    </li>

	      	<li class="nav-item">
	      	
	        <a class="nav-link" href="http://127.0.0.1:5000/eFlight/logout">log out</span></a>
		    </li>		    
	        {%else%}
	        <li class="nav-item">
		        <a class="nav-link" href="http://127.0.0.1:5000/eFlight/login/customer">您好请登录 </a>
	        	
	        </li>

	        <li class="nav-item">
		        <a class="nav-link" href="http://127.0.0.1:5000/eFlight/register/customer">注册</a>
        	
	        </li>

			{%endif%}
	      


	    </ul>

	  </div>
	</nav>




{{super()}}
{% endblock %}
{% block content %}
<div class="my-container view-container">
	{% if pageType == 'customer' %}
	<div class="my-container">
		<p>Most frequent customer:&nbsp &nbsp</p>
		<h5 id="top-customer"></h5>
	</div>

	<div class="my-container">
		<p>Bought&nbsp&nbsp</p>
		<h5 id="top-ticket-count"></h5>
		<p>&nbsp&nbsp tickets</p>
	</div>
	{% endif %}
	

	{% if pageType == 'bookingAgent' %}

	<div class="my-container agent-view-container">
		<p>Top 5 agents last month</p>
		<div class="my-container booking-agent-list-container month-result-container">


			<div class="my-container agent-container">
				
			</div>			
		</div>

	</div>


	<div class="my-container agent-view-container">
		<p>Top 5 agents last year</p>
		<div class="my-container booking-agent-list-container year-result-container">


			<div class="my-container agent-container">
				
			</div>			
		</div>

	</div>

	<div class="my-container agent-view-container">
		<p>Top 5 agents last month</p>
		<div class="my-container booking-agent-list-container commission-result-container">


			<div class="my-container agent-container">
				
			</div>			
		</div>

	</div>		
	{% endif %}

	{% if pageType == 'report' %}
	<div class="my-container view-sub-part">
		<div class="my-container filter-container">
			<div class="my-container">
				<p>start date </p>
				<input type="text" placeholder="YYYY-MM-DD" id="leftStartDate">
			</div>

			<div class="my-container">
				<p>start date </p>
				<input type="text" placeholder="YYYY-MM-DD" id="leftEndDate">
			</div>		

			<div class="my-container">
				<button class="btn left-search">apply</button>
			</div>

		</div>	

		<div class="my-container report-container">
			{% if userType=='staff' %}
			<h5>total amount of ticket sold</h5>
			{% elif userType == 'customer' %}
			<h5>my spending in a range</h5>
			{% endif %}			
			<div class="my-container result-container">
				<h5 id="amount-of-ticket"></h5>
			</div>
		</div>	
	</div>

	<div class="my-container view-sub-part">
		<div class="my-container filter-container">
			<div class="my-container">
				<p>start date </p>
				<input type="text" placeholder=" YYYY-MM-DD" id="startDateRight">
			</div>

			<div class="my-container">
				<p>start date </p>
				<input type="text" placeholder=" YYYY-MM-DD" id="endDateRight">
			</div>		
			<div class="my-container">
				<button class="btn right-search">apply</button>
			</div>
		</div>	
		<div class="my-container report-container">
				{% if userType=='staff' %}
				<h5>Month wise ticket sold</h5>
				{% elif userType=='customer' %}
				<h5>Month wise spending</h5>
				{% endif %}
				<div class="my-container" id="barchart">
					
				</div>			

		</div>		
	</div>

	{% endif %}

	{% if pageType == 'revenue' %}
	<div class="my-container view-container">
		<div class="my-container view-sub-part">

				<div class="my-container chart-container" id="chart1"></div>

		</div>
	
		<div class="my-container view-sub-part">
			<div class="my-container chart-container" id="chart2"></div>
		</div>

	</div>
	{% endif %}

	{% if pageType == "topCustomer" %}
	<div class="my-container view-container">
		<div class="my-container view-sub-part">

				<div class="my-container chart-container agent-chart-container" id="agentchart1"></div>

		</div>
	
		<div class="my-container view-sub-part">
			<div class="my-container chart-container agent-chart-container" id="agentchart2"></div>
		</div>

	</div>
	{% endif %}


	{% if pageType == 'topDestination' %}
	<div class="my-container destination-view-container ">
		<h5>3 Most popular destinaions </h5>
		<div class="my-container destination-container dst-container">
<!-- 			<div class="strong-text-container">
			<p>destination</p>

			</div>
			<div class="strong-text-container">
				<p>destination</p>
			
			</div>

			<div class="strong-text-container">
				<p>destination</p>
			</div>	 -->			
		</div>


		<div class="my-container destination-container count-container">
			
		</div>		

	</div>
	{% endif %}

	{% if pageType == "agentCommission"%}
		<div class="my-container commission-page-container">
			<div class="my-container commission-filter">
				<p>start date<input type="text" class="commission-date-input date-input" id="commission-start"></p>
				<p>end date<input type="text" class="commission-date-input date-input" id="commission-end"></p>
				<button id="commission-search">apply</button>
			</div>
			<div class="my-container commission-view">
				<div class="my-container commission-title">
				<p>my commission from&nbsp</p>
				<p id="start"></p>
				<p>&nbsp to &nbsp</p>
				<p id="end"></p>
				</div>
				<div class="my-container commission-info-wrapper">
					<div class="my-container commission-info-column">
						<p>sum of commission</p>
						<div class="my-container commission-result commission-result-sum">
							
						</div>
					</div>
					<div class="my-container commission-info-column">
						<p>average of commission</p>
						<div class="my-container commission-result commission-result-avg">
							
						</div>
					</div>

				</div>
			</div>
		</div>
	{% endif %}
</div>

{% if userType != 'customer'  %}
<script type="text/javascript" src="/static/js/view.js"></script>
{% elif userType=='customer' %}
<script type="text/javascript" src="/static/js/customerSpending.js"></script>

{% endif %}
{% endblock %}